---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="JuanTobonV | Portfolio web"
  description="Contrata a Juan Tobón como Backend Developer. Especializado en Java y Python"
>
  <main class="px-4">
    <SectionContainer class = "py-20 pb-24">

      <img class="rounded-full w-20 h-20 mb-6"
      src="https://avatars.githubusercontent.com/u/28720267?v=4"
      alt="myphoto"/>
      <h1
        class="text-white text-5xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10"
      >
        Hey, I'm Juan José
      </h1>

      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
		I'm a <span class="text-yellow-200/90"> full-stack software developer </span>studying System's Engineering and Informatics at Universidad Nacional de Colombia.
      </h2>

	  <br>

	  <h2 class="text-2xl text-wrap max-2-[700px]"> 
		I'm from Medellin, Colombia and I specialize myself at  <span class="text-yellow-200/90">Java and Python </span> programming languages.
	  </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/juantobonv/">
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/JuanTobonV">
          <GithubIcon class="size-4 md:size-8" />
          Github
        </SocialPill>

        <SocialPill href="mailto:jujotovil@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          Contact me
        </SocialPill>
      </nav>
	</SectionContainer>
	
	<SectionContainer id = "experience">
    <h2 class="text-2xl fontt-semibold mb-6 flex gap-x-3 items-center">
      <Briefcase class = "size-7" />
       Work experience and studies</h2>
		<Experience />

	</SectionContainer>

  <SectionContainer id="proyectos">
    <h2
      class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 text-white"
    >
      <CodeIcon class="size-7" />
      Projects
    </h2>
    <Projects />
  </SectionContainer>

  
  </main>
</Layout>
